<doctype html>
<link href="/static/styles/droplist.css" rel="stylesheet">
<link href="/static/styles/center.css" rel="stylesheet">
<html>
    <head>
        <meta charset="utf-8" />
        <title>Catserver:{{catname}}</title>
    </head>
    <body>
        <div class="dropdown"> 
            <button class="dropdown-button">Menu</button> 
            <div class="dropdown-list"> 
                <a href="/feed">Feed</a> 
                <a href="/upload">Upload</a> 
            </div> 
        </div> 
        <img src="static/images/{{cat_id}}.jpg" class="center">
        <p style="text-align: center;">{{catdescription}}</p>
    </body>
</html>