<!DOCTYPE html>
<link href="/static/styles/droplist.css" rel="stylesheet">
<link href="/static/styles/center.css" rel="stylesheet">
<html>
    <head>
        <meta charset="utf-8" />
        <title>Catserver Feed</title>
    </head>
    <body>
        <div class="dropdown"> 
            <button class="dropdown-button">Menu</button> 
            <div class="dropdown-list"> 
                <a href="/feed">Feed</a> 
                <a href="/upload">Upload</a> 
            </div> 
        </div>
        <div id="feed" ></div>
        <script src="/static/js/feed.js"></script>
    </body>
</html>